:host {
  display: block;
  margin: auto auto;
}

figure {
  text-align: center;
}

svg {
  margin-bottom: 32px;
}

td {
  text-align: right;
  padding: 4px 8px;
}

.col-price {
  min-width: 200px;
}

