<mat-card class="mat-elevation-z3">
  <mat-card-content>
    <table>
      <tr>
        <th>Package</th>
        <th class="separator">Period</th>
        <th class="separator">Monthly payment</th>
        <th class="separator">One-time payment</th>
        <td rowspan="2">
          <button mat-button
                  mat-raised-button
                  color="primary"
                  (click)="order.emit()">Order
          </button>
        </td>
      </tr>
      <tr>
        <td>{{ data?.package }}</td>
        <td class="separator oneline">{{ data?.interval }}</td>
        <td class="separator">
          <app-price class="inline"
                     [oldValue]="data?.oldPrice"
                     [value]="data?.price"></app-price>
        </td>
        <td class="separator">
          <app-price class="inline"
                     [oldValue]="data?.oldActivationPrice"
                     [value]="data?.activationPrice"></app-price>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
